# General
*.env
src/__pycache__/
__pycache__/
*.out
src/raw/
modeling-examples
loong_output
long.py
*loong*
old_experimental_files

# Local files
**/local_*
**/local-*
local_results

# Jupyter Notebook
.ipynb_checkpoints
.ipynb
*.ipynb
**/*.ipynb
